.todoCounter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.27);
}

.todoCounterIntern {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.todoCounterInternP {
  margin: 0;
  text-align: center;
}


.todoCounterIntern span {
  font-family: 'Oswald', sans-serif;
  color: #CF2804;
  text-align: center;
  font-size: 40px;
}

.todoCounterInternText {
  color: #A0A0A0;
  margin-top: 10px;
}